.movie-view-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #2d2d2d;
  color: antiquewhite;
  border: 1px solid #000000 !important;
}

.movie-view-image {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-view-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.movie-view-description,
.movie-view-genre,
.movie-view-director,
.movie-view-rating,
.movie-view-featured,
.movie-view-actors {
  margin-bottom: 10px;
}

.back-button {
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.movie-view-container .add-to-favorites-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
  padding: 10px;
  background: none;
  z-index: 1;
}

.add-to-favorites-btn .favorited {
  color: red;
}

.add-to-favorites-btn .not-favorited {
  color: gray;
}
