
.login-form {
  position: relative;
  margin-top: 80px;
  z-index: 1; // Ensure the form is above the background
  background: #2d2d2d; //change dep on background
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: antiquewhite;
}
.login-submit {
  margin-top: 20px;
  
}


//  }
//TODO this has changed profile view to be centered!!!
.form-control-dark {
  text-align: center;
  background-color: #2d2d2d !important;
  color: antiquewhite !important; 
  border: 1px solid white !important; 
  opacity: 0.8;
}

.form-control-dark::placeholder {
  color: antiquewhite !important; 
  
}